@model IEnumerable<P03_FootballBetting.Web.ViewModels.Colors.AllColorsViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryTeamsColorCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryTeamsColorCount)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryTeamsColorCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryTeamsColorCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ColorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ColorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ColorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
