@model IEnumerable<P03_FootballBetting.Web.ViewModels.Positions.AllPositionsViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

<h1>All</h1>

<p>
    <a class="btn btn-info"  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a>#</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(counter+=1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PositionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PositionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PositionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
